/*

Organization order:
• diplaying & position;
• size;
• border;
• font & text;
• background;
• effects & animation.

*/

::selection {
    /* Font. */
    color: white;
    
    /* Background. */
    background-color: #794;
}

/* Tags. */

html, body {
    margin: 0;
    height: 100%;
}

body {
    /* Font. */
    font-family: "Helvetica Neue", Helvetica, Arial;
    
    /* Background. */
    background-color: #F1F1F1;
}

/* Parts of the document. */

@media (max-width: 800px) {
    .header { display: none; }
}

@media (min-width: 801px) {
    .header {
        /* Display. */
        position: relative;
    	
        /* Size. */
        height: 100vh;
    }
    
    .header-image {                   
        /* Size. */
        height: 100%;
        width: 100%;
    
        /* Background. */
        background-attachment: fixed;
        background-image: url('/public/images/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .header-layout {
        /* Display. */
        position: absolute;
        opacity: .5;
        
        /* Size. */
        height: 100%;
        width: 100%;
    
        /* Background. */
        background-color: black;
        background-position: center;
        background-size: cover;
    }
    
    .header-attribution {
        /* Display. */
        position: absolute;
        right: 20px;
        top: 20px;
        
        /* Font. */
        font-size: 15px;
        color: #BBB;
    }
    
    .header-text {
        /* Display */
        padding: 3px 7px;
        
        /* Font. */
        font-family: Verdana;
        text-shadow: 0 0 5px black;
        text-decoration: none;
        color: inherit;
    
        /* Effects. */
        transition: .2s;
    }
    
    .header-text:hover {
        /* Font */
        color: white;
        
        /* Background. */
        background-color: rgba(0, 0, 0, .5);
    }

    .links {
        position: absolute;
        bottom: 20px;
    }
        
    .links-left { left: 25px; }
    
    .links-left-item { margin-right: 30px; }
    
    .links-right { right: 25px; }
    
    .links-right-item { margin-left: 30px; }
        
    .links-item {
        font-size: 20px;
        font-weight: 900;
        text-transform: uppercase;
        color: white;
    }
    
    .bitcoin-text {
        /* Display. */
        position: absolute;
        left: 27.5%;
        bottom: 50px;
        padding: 7px;
        opacity: 0;
        
        /* Size. */
        width: 200px;
        
        /* Font. */
        color: white;
        
        /* Background. */
        background-color: rgba(0, 0, 0, .5);
    
        /* Effects. */
        transition: opacity .8s;
    }
    
    .bitcoin-text:after {
        /* Display. */
        content: '';
        position: absolute;
        bottom: -10px;
        left: 45%;
        
        /* Size. */
        width: 0;
        height: 0;
        
        /* Border. */
        border-top: 10px solid rgba(0, 0, 0, .5);
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
    }
}

@media (max-width: 800px) {
    .avatar { margin: 50px auto; }
}

@media (min-width: 801px) {
    .avatar {
        position: relative;
        top: -150px;
        margin: 0 auto -100px auto;
    }
}

.avatar {
    /* Size. */
    height: 300px;
    width: 300px;
    
    /* Border.  */
    border: 3px solid #F2F2F2;
    border-radius: 100%;
    
    /* Background. */
    background-color: #F2F2F2;
    background-image: url("http://gravatar.com/avatar/6c96e05a5c9c262e1ad3f86ea8ff7bb2?s=300");
    background-size: 300px;
    background-position: center;
}

.hero-info { font-weight: 500; }

.title {
    /* Display. */
    margin: 0 auto;
    
    /* Font. */
    text-transform: uppercase;
    letter-spacing: 1px;
}

.subtitle {
    /* Display */
    margin: 0 auto;
    
    /* Font. */
    font-size: 25px;
    letter-spacing: -.5px;
    color: #777;
}

.social { margin: 30px auto 0 auto; }
    
.social-icon {
    /* Border. */
    border: none;
    
    /* Font. */
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.social-icon:hover, .social-icon:active, .social-icon:focus {
    /* Border. */
    border: none;
    
    /* Font. */
    text-decoration: none;
}

.fa {
    /* Display. */
    padding-top: 10px;
    
    /* Size. */
    width: 50px;
    height: 40px;
    
    /* Border. */
    border-radius: 100px;
}

.fa-facebook:hover {
    /* Font. */
    color: white;
    
    /* Background. */
    background-color: #3a5795;
}

.fa-linkedin:hover {
    /* Font. */
    color: white;
    
    /* Background. */
    background-color: #007bb6;
}

.fa-github:hover {
    /* Font. */
    color: white;
    
    /* Background. */
    background-color: black;
}

.fa-bitbucket:hover {
    /* Font. */
    color: white;
    
    /* Background. */
    background-color: #205081;
}

.fa-envelope-o:hover {
    /* Font. */
    color: white;
    
    /* Background. */
    background-color: #777;
}
        
.content {
    max-width: 800px;
    margin: 10px auto;
}

.content-section { margin-top: 30px; }

.content-info {
    /* Display. */
    margin: 0;
    
    /* Font. */
    font-size: 18px;
    line-height: 28px;
    letter-spacing: .5px;    
}

.content-title {
    font-weight: 600;
    color: black;
}

.content-text {
    font-weight: 200;
    text-align: justify;
    color: #444;
}

.footer {
    /* Display. */
    margin: 75px 0 20px 0;
    
    /* Font. */
    font-size: 15px;
    color: #666;
}
    
.footer-line { padding-bottom: 10px; }

.footer-focus { color: #666; }

.footer-focus:hover { color: black; }

/* Classes for a specific effect. */

.menu {
    /* Display. */
    display: inline;
    padding: 0;
    margin: 0 auto;
    
    /* Effects. */
    list-style: none;
}

.menu-item {
    display: inline;
    padding: 0;
}

.centered { text-align: center; }

.float-right { float: right; }
