/*

Organization order:
• diplaying & position;
• size;
• border;
• font & text;
• background;
• effects & animation.

*/

::selection
    // Font.
    color white    
    // Background.
    background-color #794

/* Tags. */

html, body
    margin 0
    height 100%
    
body
    // Font.
    font-family ''