<!DOCTYPE html>

<html lang="{{ language }}">
<head>

    <meta charset="utf-8">
    <meta name="author" content="{{ title }}">
    <meta name="description" content="{{ subtitle[0] }} {{ subtitle[1] }}">
    <link rel="icon" href="/public/images/icons/favicon.ico" type="image/x-icon"/>
    
    
    <title>{{ title }}</title>

    <link
        rel="stylesheet"
        href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    >
    
    <link
        rel="stylesheet"
        href="/public/stylesheets/index.css"
    >

</head>

<body>
    
    <div class="principal">
        
        <header class="header">
            
            <div id="header-image" class="header-image"></div>
            <div class="header-layout"></div>
            
            <div id="header-attribution" class="header-attribution">
                <a href="" id="header-attribution-link" class="header-text">
                    <span>{{ header.photo }}</span>
                    <span id="header-author"></span>
                </a>
            </div>
            
            <nav class="links links-left">
                <ul class="menu">
                    <li class="menu-item links-left-item">
                        <a href="{{ header.blog.url }}" class="links-item header-text">
                            {{ header.blog.title }}
                        </a>	
                    </li>
                    
                    <li class="menu-item link-left-item">
                        <a id="bitcoin-activator" href="{{ header.bitcoin.url }}" class="links-item header-text">
                            {{ header.bitcoin.title }}
                        </a>
                        
                        <span id="bitcoin-text" class="bitcoin-text centered">
                            Donate some BTCs for this poor programmer! Eu sô trabaiadô, sinhô!
                        </span>
                    </li>
                </ul>
            </nav>
            
            <nav class="links links-right">
                <ul class="menu">
                    <li class="menu-item links-right-item">
                        <a href="{{ header.curriculum.url }}" class="links-item header-text">
                            {{ header.curriculum.title }}
                        </a>
                    </li>
                </ul>
            </nav>
            
        </header>
    
        <div class="avatar"></div>
        
        <div class="hero">
            <h1 class="title hero-info centered">
                {{ title }}
            </h1>
            
            <h2 class="subtitle hero-info centered">            
                {{ subtitle[0] }}
            </h2>
                
            <p class="subtitle hero-info centered">
                {{ subtitle[1] }}
            </p>
        </div>
        
        <nav class="social centered">
            <ul class="menu">
                
                {% for item, url in social %}
                    <li class="menu-item social-item">
                        <a href="{{ url }}" class="social-icon">
                            <i class="fa fa-{{ item }}"></i>
                        </a>
                    </li>
                {% endfor %}
                
            </ul>
        </nav>
        
    </div>
    
    <main class="content">
        
        {% for section in content %}
            <section class="content-section">
                <h3 class="content-info content-title">{{ section.title }}</h3>
                
                <div class="content-info content-text">
                    
                    {% for paragraph in section.paragraphs %}
                        <p class="content-info">{{ paragraph }}</p>
                    {% endfor %}
                    
                </div>
            </section>
        {% endfor %}
        
    </main>
    
    <footer class="footer centered">
        
        <div class="footer-line">
            {{ footer.copyright }} {{ year }} <span class="footer-focus">{{ title }}</span>
        </div>
        
        {% for menu in footer.menus %}
            <nav class="footer-line">
                    
                {{ menu.text }}

                {% for item, url in menu.list %}
                    {% if loop.index == loop.length %}
                        <a href="{{ url }}" class="footer-focus">{{ item }}</a>
                    {% elif loop.index == loop.length - 1 %}
                        <a href="{{ url }}" class="footer-focus">{{ item }}</a> {{ helpers.and }}
                    {% else %}
                        <a href="{{ url }}" class="footer-focus">{{ item }}</a>{{ helpers.joiner }}
                    {% endif %}
                {% endfor %}
                
            </nav>
        {% endfor %}
        
    </footer>

    <script type="text/javascript" src="/public/scripts/google-analytics.js"></script>
    <script type="text/javascript" src="/public/scripts/script-caller.js"></script>
    
    <noscript>
        <style type="text/css">
            .header-image { background-image: url("/public/images/background/01.jpg"); }
            .header-attribution { visibility: hidden; }
        </style>
    </noscript>
</body>
</html>
