<!DOCTYPE html>

<html lang="{{ language }}">
<head>

    <meta charset="utf-8">
    
    <title>{{ title }}</title>

    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    >
    
    <link
        rel="stylesheet"
        href="/public/stylesheets/index.css"
    >

</head>

<body>

    <header class="header">
        <nav class="links links-left">
        	<li class="menu">
        		<ul class="menu-item links-left-item">
        			<a href="{{ header.blog.url }}" class="links-item">
                        {{ header.blog.title }}
                    </a>	
        		</ul>
        		
        		<ul class="menu-item link-left-item">
        			<a href="{{ header.bitcoin.url }}" class="links-item">
                        {{ header.bitcoin.title }}
                    </a>
        		</ul>
        	</li>
        </nav>
        
        <nav class="links links-right">
        	<li class="menu">
        		<ul class="menu-item links-right-item">
        			<a href="{{ header.curriculum.url }}" class="links-item">
                        {{ header.curriculum.title }}
                    </a>	
        		</ul>
        	</li>
        </nav>
    </header>

    <div class="avatar"></div>
    
    <div class="container">

        <div class="hero">
            <h1 class="title hero-info centered">
                {{ title }}
            </h1>
            
            <h2 class="subtitle hero-info centered">            
                {{ subtitle[0] }}
            </h2>
                
            <p class="subtitle hero-info centered">
                {{ subtitle[1] }}
            </p>
        </div>
        
        <nav class="social centered">
            <ul class="menu">
                
                {% for item, url in social %}
                    <li class="menu-item social-item">
                        <a href="{{ url }}" class="social-icon">
                            <i class="fa fa-{{ item }}"></i>
                        </a>
                    </li>
                {% endfor %}
                
            </ul>
        </nav>
        
        <main class="content">
            
            {% for section in content %}
                <section class="content-section">
                    <h3 class="content-info content-title">{{ section.title }}</h3>
                    
                    <div class="content-info content-text">
                        
                        {% for paragraph in section.paragraphs %}
                            <p class="content-info">{{ paragraph }}</p>
                        {% endfor %}
                        
                    </div>
                </section>
            {% endfor %}
            
        </main>
        
    </div>
    
    <footer class="footer centered">
        
        <div class="footer-line">
            {{ footer.copyright }} {{ year }} <span class="footer-focus">{{ title }}</span>
        </div>
        
        {% for menu in footer.menus %}
            <nav class="footer-line">
                {{ menu.text }}
                
                {% for item, url in menu.list %}
                    {% if loop.index == loop.length %}
                        <a href="{{ url }}" class="footer-focus">{{ item }}</a>
                    {% elif loop.index == loop.length - 1 %}
                        <a href="{{ url }}" class="footer-focus">{{ item }}</a> {{ helpers.and }}
                    {% else %}
                        <a href="{{ url }}" class="footer-focus">{{ item }}</a>{{ helpers.joiner }}
                    {% endif %}
                {% endfor %}
            </nav>
        {% endfor %}
        
    </footer>

</body>
</html>
