<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="utf-8">
    
    <title>Rafael Escobar</title>

    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    >
    
    <link
        rel="stylesheet"
        href="public/stylesheets/next.css"
    >

</head>

<body>

    <header class="header">
        <nav class="links links-left">
        	<li class="menu">
        		<ul class="menu-item links-left-item">
        			<a href="http://blog.nhanderu.com/" class="links-item">Blog</a>	
        		</ul>
        		
        		<ul class="menu-item link-left-item">
        			<a href="#" class="links-item">Bitcoin</a>
        		</ul>
        	</li>
        </nav>
        
        <nav class="links links-right">
        	<li class="menu">
        		<ul class="menu-item links-right-item">
        			<a href="../download/curriculum" class="links-item">Curriculum</a>	
        		</ul>
        	</li>
        </nav>
    </header>
        
    <div class="avatar"></div>
    
    <div class="container">

        <div class="hero">
            <h1 class="title hero-info centered">
                Rafael Escobar
            </h1>
            
            <h2 class="subtitle hero-info centered">            
                .NET and JS programmer
            </h2>
                
            <p class="subtitle hero-info centered">
                based on São Paulo
            </p>
        </div>
        
        <nav class="social centered">
            <ul class="menu">
                <li class="menu-item social-item">
                    <a href="https://www.facebook.com/Nhanderu" class="social-icon">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                
                
                <li class="menu-item social-item">
                    <a href="https://www.linkedin.com/in/rafaelbzescobar" class="social-icon">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                
                
                <li class="menu-item social-item">
                    <a href="https://github.com/Nhanderu" class="social-icon">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
                
                
                <li class="menu-item social-item">
                    <a href="https://bitbucket.org/Nhanderu" class="social-icon">
                        <i class="fa fa-bitbucket"></i>
                    </a>
                </li>
                
                
                <li class="menu-item social-item">
                    <a href="mailto:rafaelbze@gmail.com" class="social-icon">
                        <i class="fa fa-envelope-o"></i>
                    </a>
                </li>
            </ul>
        </nav>
        
        <main class="content">
            <section>
                <h3 class="content-info content-title">Golden boy</h3>
                
                <div class="content-info content-text">
                    <p>
                        Podemos já vislumbrar o modo pelo qual o aumento do diálogo entre os diferentes setores produtivos cumpre um papel essencial na formulação do sistema de participação geral.
                        No entanto, não podemos esquecer que o desafiador cenário globalizado promove a alavancagem das posturas dos órgãos dirigentes com relação às suas atribuições.
                        Podemos já vislumbrar o modo pelo qual o aumento do diálogo entre os diferentes setores produtivos cumpre um papel essencial na formulação do sistema de participação geral.
                        No entanto, não podemos esquecer que o desafiador cenário globalizado promove a alavancagem das posturas dos órgãos dirigentes com relação às suas atribuições.
                    <p>
                </div>
            </section>
            
            <section>
                <h3 class="content-info content-title">Born to love</h3>
                
                <div class="content-info content-text">
                    <p>
                        Por conseguinte, a estrutura atual da organização obstaculiza a apreciação da importância de alternativas às soluções ortodoxas.
                        Nunca é demais lembrar o peso e o significado destes problemas, uma vez que o comprometimento entre as equipes agrega valor ao estabelecimento do orçamento setorial.
                        Por conseguinte, a estrutura atual da organização obstaculiza a apreciação da importância de alternativas às soluções ortodoxas.
                        Nunca é demais lembrar o peso e o significado destes problemas, uma vez que o comprometimento entre as equipes agrega valor ao estabelecimento do orçamento setorial.
                    </p>
                </div>
            </section>
            
            <section>
                <h3 class="content-info content-title">And live for joy</h3>
                
                <div class="content-info content-text">
                    <p>
                        Percebemos, cada vez mais, que a percepção das dificuldades representa uma abertura para a melhoria das novas proposições.
                        A prática cotidiana prova que o julgamento imparcial das eventualidades facilita a criação da gestão inovadora da qual fazemos parte.
                        Percebemos, cada vez mais, que a percepção das dificuldades representa uma abertura para a melhoria das novas proposições.
                        A prática cotidiana prova que o julgamento imparcial das eventualidades facilita a criação da gestão inovadora da qual fazemos parte.
                    </p>
                </div>
            </section>
        </main>
        
    </div>
    
    <footer class="footer centered">
        <div class="footer-line">
            Copyright &copy; <span class="footer-focus">Rafael Escobar</span>
        </div>
        
        <nav class="footer-line">
            built with
            <a href="https://nodejs.org/" class="footer-focus">Node.js</a>,
            <a href="http://expressjs.com/" class="footer-focus">Express</a>
            and
            <a href="http://fontawesome.io/" class="footer-focus">Font Awesome</a>
        </nav>
        
        <nav class="footer-line">
            source on
            <a href="https://github.com/nhanderu/personal/" class="footer-focus">Github</a>
            and
            <a href="https://bitbucket.com/nhanderu/personal/" class="footer-focus">Bitbucket</a>
        </nav>
    </footer>

</body>
</html>
