<!DOCTYPE html>

<html>
<head>

    <meta charset="UTF-8">

    <!--
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
    />
    -->

    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    >

    <link
        rel="stylesheet"
        href="public/stylesheets/next.css"
    >

</head>

<body>

    <div class="header"></div>
        
    <div class="avatar"></div>
    
    <div class="container">
    
        <h2 class="info centered">
            RAFAEL ESCOBAR
            
            <br>
            
            <small class="subtitle">
                .NET and JS programmer
            </small>
            
            <br>
            
            <small class="subtitle">
                based on São Paulo
            </small>
        </h2>
        
        <div class="centered">
            <nav class="social">
                <ul class="social-list">
                    <li class="social-item">
                        <a href="https://www.facebook.com/Nhanderu" class="social-icon">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    
                    
                    <li class="social-item">
                        <a href="https://www.linkedin.com/in/rafaelbzescobar" class="social-icon">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    
                    
                    <li class="social-item">
                        <a href="https://github.com/Nhanderu" class="social-icon">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                    
                    
                    <li class="social-item">
                        <a href="https://bitbucket.org/Nhanderu" class="social-icon">
                            <i class="fa fa-bitbucket"></i>
                        </a>
                    </li>
                    
                    
                    <li class="social-item">
                        <a href="mailto:rafaelbze@gmail.com" class="social-icon">
                            <i class="fa fa-envelope-o"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        
    </div>

</body>
</html>