<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="utf-8">
    
    <title>Rafael Escobar &bull; .NET and JS programmer</title>
    
    <!--
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
    />
    -->

    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    >
    
    <link
        rel="stylesheet"
        href="public/stylesheets/next.css"
    >

</head>

<body>

    <header class="header">
        <nav class="links links-left">
        	<li class="menu">
        		<ul class="menu-item links-left-item">
        			<a href="http://blog.nhanderu.com/" class="links-item">Blog</a>	
        		</ul>
        		
        		<ul class="menu-item link-left-item">
        			<a href="#" class="links-item">Bitcoin</a>
        		</ul>
        	</li>
        </nav>
        
        <nav class="links links-right">
        	<li class="menu">
        		<ul class="menu-item links-right-item">
        			<a href="http://blog.nhanderu.com/" class="links-item">Curriculum</a>	
        		</ul>
        	</li>
        </nav>
    </header>
        
    <div class="avatar"></div>
    
    <div class="container">

        <div class="hero">
            <h1 class="title hero-info centered">
                Rafael Escobar
            </h1>
        
            <h2 class="subtitle hero-info centered">            
                <span class="subtitle-line">
                    .NET and JS programmer
                </span>
                
                <span class="subtitle-line">
                    based on São Paulo
                </span>
            </h2>
        </div>
        
        <nav class="social centered">
            <ul class="menu">
                <li class="menu-item social-item">
                    <a href="https://www.facebook.com/Nhanderu" class="social-icon">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                
                
                <li class="menu-item social-item">
                    <a href="https://www.linkedin.com/in/rafaelbzescobar" class="social-icon">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                
                
                <li class="menu-item social-item">
                    <a href="https://github.com/Nhanderu" class="social-icon">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
                
                
                <li class="menu-item social-item">
                    <a href="https://bitbucket.org/Nhanderu" class="social-icon">
                        <i class="fa fa-bitbucket"></i>
                    </a>
                </li>
                
                
                <li class="menu-item social-item">
                    <a href="mailto:rafaelbze@gmail.com" class="social-icon">
                        <i class="fa fa-envelope-o"></i>
                    </a>
                </li>
            </ul>
        </nav>
        
    </div>

</body>
</html>
