/*

Organization order:
• diplaying & position;
• size;
• border;
• font & text;
• background;
• effects & animation.

*/

/* Tags. */

*{margin: 0}

html {
    height: 100%;
}

body {
    /* Display. */
    margin: 0;
    min-height: 100%;
    
    /* Font. */
    font-family: "Helvetica Neue", Helvetica, Arial;
    
    /* Background. */
    background-color: #F2F2F2;
}

/* Parts of the document. */

.container {
    max-width: 800px;
    margin: 0 auto;
}

.header {
    /* Display. */
    position: relative;
	
    /* Size. */
    height: 220px;
    
    /* Background. */
    background-color: #354F06;
    background-image: url("/public/images/background/texture.png");
    background-attachment: fixed;
    background-repeat: repeat, repeat;
    background-position: center;
    
    /* Effects. */
    box-shadow: 0 0 60px #2a3f04 inset;
}

.avatar {
    /* Display. */
    position: relative;
    top: -150px;
    margin: 0 auto -100px auto;
    
    /* Size. */
    height: 300px;
    width: 300px;
    
    /* Border.  */
    border: 3px solid #F2F2F2;
    border-radius: 100%;
    
    /* Background. */
    background-color: #F2F2F2;
    background-image: url("http://gravatar.com/avatar/6c96e05a5c9c262e1ad3f86ea8ff7bb2?s=350");
    background-size: 350px;
    background-position: center;
    
    /* Effects. */
    transition: .1s;
}

    .avatar:hover {
        /* Display. */
        top: -175px;
        margin: 0 auto -150px auto;
        
        /* Size. */
        height: 350px;
        width: 350px;
    }

.hero-info {
    font-weight: 500;
}

.title {
    /* Display. */
    margin: 0 auto;
    
    /* Font. */
    text-transform: uppercase;
    letter-spacing: 1px;
}

.subtitle {
    /* Display */
    margin: 0 auto;
    
    /* Font. */
    font-size: 25px;
    letter-spacing: -.5px;
    color: #777;
}

.links {
    position: absolute;
    bottom: 20px;
}

    .links-left {
        left: 25px;
    }
    
        .links-left-item {
            margin-right: 30px;
        }
    
    .links-right {
        right: 25px;
    }
    
        .links-right-item {
            margin-left: 30px;
        }

    .links-item {
        /* Font. */
        color: #202F05;
        font-family: Verdana;
        font-size: 20px;
        font-weight: 900;
        text-transform: uppercase;
        text-decoration: none;
    
        /* Effects. */
        transition: .2s;
    }

        .links-item:hover {
            color: white;
        }

.social {
    margin: 30px auto 0 auto;
}

    .social-item {
        margin: 0 10px;
    }
    
    .social-icon {
        /* Border. */
        border: none;
        
        /* Font. */
        font-size: 30px;
        text-decoration: none;
        color: black;
    }
    
        .social-icon:hover, .social-icon:active, .social-icon:focus {
            /* Border. */
            border: none;
            
            /* Font. */
            text-decoration: none;
        }

.fa-facebook:hover {
    color: #3a5795;
}

.fa-linkedin:hover {
    color: #007bb6;
}

.fa-github:hover {
    color: #444;
}

.fa-bitbucket:hover {
    color: #205081;
}

.fa-envelope-o:hover {
    color: #777;
}
        
.content {
    margin: 100px auto;
}
    .content-info {
        line-height: 28px;
        letter-spacing: .5px;    
    }
    
    .content-title {
        /* Display. */
        margin: 30px 0 0 0;
        
        /* Font. */
        font-size: 18px;
        font-weight: 600;
        color: black;
    }

    .content-text {
        /* Display. */
        margin: 0;
        
        /* Font. */
        font-size: 18px;
        font-weight: 200;
        color: #444;
        text-align: justify;
    }

.footer {
    /* Display. */
    margin-bottom: 20px;
    
    /* Font. */
    font-size: 15px;
    color: #666;
}
    
    .footer-line {
        padding-bottom: 10px;
    }

    .footer-focus {
        color: #666;
    }

    .footer-focus:hover {
        color: black;
    }

/* Classes for a specific effect. */

.menu {
    /* Display. */
    display: inline;
    padding: 0;
    margin: 0 auto;
    
    /* Effects. */
    list-style: none;
}

    .menu-item {
        display: inline;
        padding: 0;
    }

.centered {
    text-align: center;
}

.float-right {
    float: right;
}

/* Golden boy. */

.content section:first-of-type:hover h3 {
    color: green;
}

.content section:nth-of-type(2):hover h3 {
    color: yellow;
}

.content section:last-of-type:hover h3 {
    color: red;
}