body {
    /* Position. */
    margin: 0 0 0 0;
    /* Size. */
    height: 200%;
    /* Font. */
    color: #000;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 300;
    /* Background. */
    background-color: #FFF;
    background-image: url("../images/background/texture.png");
}

header {
    /* Position. */
    padding: 10px 0 20px 0;
    /* Font. */
    text-align: center;
    font-size: 150%;
}

footer {
    /* Position. */
    padding: 10px 0 20px 0;
    /* Font. */
    color: #FFF;
    text-align: center;
    /* Background. */
    background-color: #000;
}

h1, h2, h3 {
    font-weight: 400;
}

a {
    /* Border. */
    border-bottom: 1px solid black;
    /* Font. */
    color: #000;
    text-decoration: none;
}

figure a {
    border: none;
}

#container {
    /* Position. */
    position: relative;
    margin: 0 0% auto;
}

#profile {
    /* Size. */
    height: 320px;
    width: 320px;
    /* Effects. */
    box-shadow: 0px 0px 10px #777;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

    #profile:hover {
        box-shadow: 0px 0px 20px #555;
    }

#subtitle {
    margin-top: -50px;
    font-weight: 300;
}

#content {
    box-shadow: 0px -1px 10px #777;
}

#menu {
    background-color: #FFF;
}

    #menu ul {
        /* Position. */
        margin: 0;
        padding: 10px;
        /* Size. */
        width: 0 auto;
        /* Font. */
        text-align: center;
    }

    #menu li {
        display: inline;
    }

    #menu a {
        /* Position. */
        margin: 0 20px;
        /* Border. */
        border: none;
        /* Font. */
        font-weight: 400;
    }

        #menu a:hover {
            border-bottom: 1px solid black;
        }

#about {
    /* Position. */
    padding: 2% 5%;
    /* Font. */
    color: #FFF;
    /* Background. */
    background-color: #191919;
    background-image: url("../images/background/stars.png"), url("../images/background/texture.png");
    background-attachment: fixed;
    background-repeat: repeat, repeat;
    background-position: center;
}

#professional-profile {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/background/stripes.png");
    background-attachment: fixed;
}

    #professional-profile h2 {
        padding-left: 10px;
    }

    #professional-profile p {
        margin-top: -20px;
    }

#professional-profile-content {
    /* Position. */
    padding: 2.5% 0 1% 0;
    margin: 0 auto;
    /* Size. */
    width: 900px;
    max-width: 95%;
}

    #professional-profile-content > div {
        margin-bottom: 10%;
    }

#copyright {
    text-shadow: 0px 0px 5px rgba(150, 150, 150, 1);
}

.life-event {
    /* Position. */
    margin: 0 1.5% 3% 1.5%;
    padding: 0 2.5%;
    position: relative;
    /* Border. */
    border: 1px solid #999;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    /* Background. */
    background: rgba(255,255,255,0.3);
    /* Effects. */
    box-shadow: 0px 0px 20px #888;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

    .life-event:hover {
        background: rgba(255,255,255,0.4);
    }

.language {
    /* Position. */
    position: relative;
    float: left;
    /* Size. */
    width: 41.75%;
    min-width: 315px;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}
