@media screen

    /*
     * Common.
     */

    *
        box-sizing border-box
        margin 0
        padding 0

    body
        font-family 'Roboto', sans-serif

    img
        height auto
        max-width 100%

    a
        font-family inherit

    /*
     * Main.
     */

    .wrapper
        display flex
        justify-content center
        height 100vh
        width 100vw

        > .box-wrapper
            display flex
            flex-wrap wrap

            > .box-profile
                display flex
                flex-direction column
                justify-content space-around
                background-color #794

                > .description
                    text-align justify
                    font-size 1.1rem
                    color white

                > .social
                    display flex
                    justify-content center
                    align-items center

                    > .social-list
                        display flex
                        justify-content center
                        flex-flow row wrap
                        height 8rem
                        width 20rem

                        > .social-item
                            display flex
                            justify-content center
                            width 4rem
                            height 4rem

                            > .social-item-link
                                color black
                                text-decoration none
                                font-size 1.5rem
                                width 100%
                                height 100%

                                > .fab
                                    display flex
                                    justify-content center
                                    flex-flow row wrap
                                    align-items center
                                    width 100%
                                    height 100%
                                    transition .1s

                                &:hover
                                    color white

                                &:hover > .fab.fa-facebook-f
                                    background-color rgba(58, 87, 149, .7)

                                &:hover > .fab.fa-linkedin-in
                                    background-color rgba(0, 123, 182, .7)

                                &:hover > .fab.fa-github
                                    background-color rgba(0, 0, 0, .5)

                                &:hover > .fab.fa-telegram-plane
                                    background-color rgba(0, 136, 204, .7)

                                &:hover > .fab.fa-reddit-alien
                                    background-color rgba(255, 69, 0, .7)

                                &:hover > .fab.fa-instagram
                                    background-color rgba(225, 48, 108, .7)

                                &:hover > .fab.fa-lastfm
                                    background-color rgba(213, 16, 7, .7)

                                &:hover > .fab.fa-goodreads-g
                                    background-color rgba(85, 59, 8, .7)

                                &:hover > .fab.fa-strava
                                    background-color rgba(252, 76, 2, .7)

                                &:hover > .fab.fa-steam-symbol
                                    background-color rgba(0, 0, 0, .5)

            > .box-links
                flex-basis 100%

                > .links-list
                    display flex
                    justify-content space-around
                    margin-top 2rem

                    > .links-item
                        display flex
                        justify-content center

                        > .links-item-link
                            width 10rem
                            padding .6rem
                            border .3rem solid #bca
                            text-align center
                            text-transform uppercase
                            text-decoration none
                            color #bca
                            transition-duration .1s

                            &:hover
                                background-color #475b28
                                border-color #475b28
                                color white

    /*
     * Modal.
     */

    .modal
        position fixed
        top 50%
        left 50%
        transform translate3d(-50%, -50%, 0)
        padding 5rem
        color white
        background-color rgba(0, 0, 0, .7)
        transition .5s
        opacity 0
        pointer-events none

        > .modal-close
            position absolute
            top .3rem
            left .5rem
            cursor pointer

            &:hover
                text-decoration underline

    /*
     * Media specific.
     */

    @media (max-width: 800px)

        .wrapper > .box-wrapper
            flex-direction row
            justify-content center

            > .box-picture
                display flex
                align-items center
                width 60vw
                height 40vh

            > .box-profile
                padding 1rem
                height 40vh
                width 100vw

                > .description
                    margin 0 2rem

            > .box-links
                height 15vh

    @media (min-width: 801px)

        .wrapper
            align-items center

            > .box-wrapper
                width 50rem

                > .box-picture
                    flex-basis 40%

                    > .picture
                        display block
                        width 100%

                > .box-profile
                    padding 2.5rem
                    flex-basis 60%
