doctype html

-
    const wbtc = 'bc1qz9s87ddg00xy0z0z2pkwcjrhylmwzfs0z687fz'
    const wltc = 'LS4VFwq131LSDcjJfHad7hSmUJmaE6ux6E'
    const weth = '0xf00F626d07BFa39d340944ec9f00133A71a40cf4'

html

    head

        meta(charset='utf-8')
        meta(name='author' content='Rafael Escobar')
        meta(name='description' content='')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')

        link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
        link(rel='icon', type='image/ico', href='/favicon.ico')
        link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
        link(rel='manifest', href='/site.webmanifest')

        link(rel='stylesheet', href='https://code.cdn.mozilla.net/fonts/fira.css')
        link(inline, rel='stylesheet', href='index.css')

        title Rafael Escobar

    body

        main
            h1 Rafael Escobar
            p
                | Hello, my name is Rafael, I'm
                span#age-text= ' 666 '
                | and I'm from São Paulo, Brazil. I'm a programmer, a
                | libertarian and a lover of coffee, beer, philosophy, comp.
                | sci. and linguistics.

        nav
            p
                a(href='https://github.com/Nhanderu.gpg') pgp 3E61740BD0944B1A
            p
                a(href='mailto:rafael@esco.dev') email
                |  - 
                a(href='https://github.com/Nhanderu') github
                |  - 
                a(href='https://linkedin.com/in/Nhanderu') linkedin
            p
                a(href='javascript:;', data-wallet=wbtc) bitcoin
                |  - 
                a(href='javascript:;', data-wallet=wltc) litecoin
                |  - 
                a(href='javascript:;', data-wallet=weth) ethereum

        #wallet.invisible
            #qr-code
            p
                a#wallet-address(href='javascript:;')
                span#clipboard-tooltip.invisible  copied

        script(inline, defer, src='age.js')
        script(inline, defer, src='../lib/qrcodejs/qrcode.min.js')
        script(inline, defer, src='qrcode.js')
        script(inline, defer, src='clipboard.js')
